/* external css */

body { 
    margin: 0px;
    padding: 10px;
	font-family: Verdana, Verdana, Arial, Helvetica, sans-serif;
    /* color:blue; */
    background-color: blue;
}

header.main {
    background-color: blue;
}

header h1.title {
    color: white;
}